/* Variables ................................................................ */
/* Mixins ................................................................... */
/* The mixins in this file make it easier to work with CSS properties where
 * vendor prefixes are required. No need to write all vendor prefixes each time.
 * Just include the required mixin and pass it the required paramters.
 *
 * http://css3please.com/ was useful while creating this file. */
/* Theme .................................................................... */
html {
  font-size: 16px; }

h2 {
  font-size: 3rem;
  line-height: 4rem; }
  @media (max-width: 400px) {
    h2 {
      font-size: 1.8rem;
      line-height: 2rem; } }
  @media (max-height: 400px) {
    h2 {
      font-size: 2.5rem;
      line-height: 3rem; } }

@media (max-width: 767px) {
  html {
    font-size: 13px;
    line-height: 17px; }

  p {
    line-height: 1.4rem;
    margin-bottom: 0.5rem; } }
.btn {
  display: inline-block;
  border: solid 2px #1f1f1f;
  color: #1f1f1f;
  line-height: 1.4rem;
  padding: 0 1rem;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  position: relative;
  z-index: 3;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box; }
  .btn:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10%;
    width: 120%;
    height: 0;
    background: transparent;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }
  .btn:hover:after {
    background: #1f1f1f;
    height: 100%;
    top: 0; }
  .btn:visited {
    color: #1f1f1f; }
  .btn:hover {
    color: #fff; }
  .btn:active {
    -webkit-transform: scale(0.97, 0.97);
    -moz-transform: scale(0.97, 0.97);
    -ms-transform: scale(0.97, 0.97);
    -o-transform: scale(0.97, 0.97);
    transform: scale(0.97, 0.97); }

.btn-primary {
  background: #62A54C; }

.btn-large {
  font-size: 1.3rem;
  line-height: 3rem;
  padding: 0 3rem;
  text-transform: uppercase; }
  @media (max-width: 400px) {
    .btn-large {
      font-size: 1.2rem;
      line-height: 2rem; } }

.btn-inverted {
  color: #fff;
  border-color: #fff; }
  .btn-inverted:hover:after {
    background: #fff; }
  .btn-inverted:visited {
    color: #fff; }
  .btn-inverted:hover {
    color: #1f1f1f; }

.dblock {
  display: block; }

.top-bar-customizations {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99; }
  .top-bar-customizations .social-share a {
    font-size: 1rem;
    opacity: 0.8;
    position: relative;
    display: inline-block; }
    .top-bar-customizations .social-share a:active {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
      transform: scale(0.8); }
    @media (min-width: 768px) {
      .top-bar-customizations .social-share a:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s; }
      .top-bar-customizations .social-share a:hover:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); } }
  .top-bar-customizations .social-share li:first-child a {
    font-size: 0.85rem; }
  .top-bar-customizations .social-share img {
    max-height: 25px; }
  .top-bar-customizations .muted-label {
    background: transparent !important;
    cursor: default; }
  @media (min-width: 768px) {
    .top-bar-customizations .gp:hover:after {
      background: #e12600; }
    .top-bar-customizations .tw:hover:after {
      background: #00b5e9; }
    .top-bar-customizations .fb:hover:after {
      background: #305d9a; } }

.pos-rel {
  position: relative; }

body {
  color: #1f1f1f;
  font-family: "Source Sans Pro", "DIN Alternate", "Roboto" sans-serif;
  padding-top: 45px; }
  @media (max-width: 767px) {
    body {
      font-size: 13px;
      line-height: 17px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", "DIN Alternate", "Roboto" sans-serif; }

footer {
  background: #eee;
  background-image: url("../img/footer.png");
  background-image: url("../img/footer.png"), -o-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
  background-image: url("../img/footer.png"), -moz-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
  background-image: url("../img/footer.png"), -ms-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
  background-image: url("../img/footer.png"), linear-gradient(-179deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 50px 0 400px 0;
  position: relative; }
  @media (max-width: 400px) {
    footer {
      padding-top: 20px;
      background-image: url("../img/footer-m.png");
      background-image: url("../img/footer-m.png"), -o-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
      background-image: url("../img/footer-m.png"), -moz-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
      background-image: url("../img/footer-m.png"), -ms-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
      background-image: url("../img/footer-m.png"), linear-gradient(-179deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%); } }
  @media (max-height: 450px) {
    footer {
      padding-top: 10px;
      background-image: -o-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
      background-image: -moz-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
      background-image: -ms-linear-gradient(-89deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%);
      background-image: linear-gradient(-179deg, #FAF5E7 0%, #E5CE8D 48%, #AA6F3C 100%); }
      footer .truck {
        display: none !important; } }
  footer .dblock {
    margin-bottom: 10px; }
  footer h4 {
    font-weight: bold; }
  footer .social {
    display: inline !important; }
  footer a {
    display: block;
    padding: 5px 0;
    color: #1f1f1f; }
    @media (max-width: 767px) {
      footer a {
        padding: 3px 0; } }
  @media (max-width: 767px) {
    footer p {
      line-height: 1.2rem; } }
  footer .footer-img {
    z-index: 102; }
  footer .truck {
    display: none;
    position: absolute;
    bottom: 3%;
    left: 0;
    z-index: 101;
    animation-duration: 10s;
    -webkit-animation-duration: 10s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    width: 70px; }
    @media (min-width: 768px) {
      footer .truck {
        width: 70px; } }
    @media (min-width: 1280px) {
      footer .truck {
        width: 100px;
        bottom: 7%; } }
    @media (min-width: 1600px) {
      footer .truck {
        width: 150px;
        bottom: 6%; } }

@keyframes truckAnimation {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@-webkit-keyframes truckAnimation {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
#footer-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 0 10px 0; }
  @media (max-width: 400px) {
    #footer-img {
      font-size: 0.7rem;
      padding-bottom: 5px; } }
  #footer-img .columns:last-child {
    text-align: right; }

/* Home page styles ......................................................... */
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover;
  min-width: 100%;
  min-height: 100%; }
  @media (max-width: 400px) {
    #bg-video {
      display: none; } }
  @media (max-height: 400px) {
    #bg-video {
      display: none; } }

#above-the-fold,
#passion-wrpr,
.hp-f-life,
.hp-f-benefits,
.hp-f-works {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff; }
  #above-the-fold h2,
  #passion-wrpr h2,
  .hp-f-life h2,
  .hp-f-benefits h2,
  .hp-f-works h2 {
    color: #fff; }

#above-the-fold {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center; }
  #above-the-fold h1 {
    color: #fff;
    font-size: 4rem; }
    @media (max-width: 400px) {
      #above-the-fold h1 {
        font-size: 3rem; } }

#passion-wrpr {
  background-image: url("../img/boxes-m.jpg"); }
  @media (min-width: 768px) {
    #passion-wrpr {
      background-image: url("../img/boxes.jpg"); } }

.hp-f-life {
  background-image: url("../img/brunette-m.jpg"); }
  @media (min-width: 768px) {
    .hp-f-life {
      background-image: url("../img/brunette.jpg"); } }

.hp-f-works {
  background-image: url("../img/shopper-woman-m.jpg"); }
  @media (min-width: 768px) {
    .hp-f-works {
      background-image: url("../img/shopper-woman.jpg"); } }

.hp-f-benefits {
  background-image: url("../img/gamer-m.jpg"); }
  @media (min-width: 768px) {
    .hp-f-benefits {
      background-image: url("../img/gamer.jpg"); } }

.fold-benefits {
  text-align: center; }

.disp-table {
  display: table;
  height: 100vh;
  width: 100%; }

.disp-tcell-vm {
  display: table-cell;
  vertical-align: middle; }

.hp-f-welcome h1 {
  margin-bottom: 3%; }

#hp-scroll-up,
#hp-scroll-down {
  cursor: pointer;
  display: block;
  position: fixed;
  left: 50%;
  z-index: 101;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite; }
  @media (max-width: 400px) {
    #hp-scroll-up,
    #hp-scroll-down {
      width: 20%; } }
  @media (max-height: 400px) {
    #hp-scroll-up,
    #hp-scroll-down {
      display: none !important; } }

#hp-scroll-up {
  display: none;
  top: 70px;
  animation-name: scrollToTopAnim;
  -webkit-animation-name: scrollToTopAnim;
  -webkit-transform: rotate(180deg) translateX(50%);
  -moz-transform: rotate(180deg) translateX(50%);
  -ms-transform: rotate(180deg) translateX(50%);
  -o-transform: rotate(180deg) translateX(50%);
  transform: rotate(180deg) translateX(50%); }

#hp-scroll-down {
  bottom: 30px;
  animation-name: continuousbounce;
  -webkit-animation-name: continuousbounce;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

@keyframes scrollToTopAnim {
  0% {
    top: 55px;
    opacity: 0.2; }
  90% {
    top: 50px;
    opacity: 0.6; }
  100% {
    top: 55px;
    opacity: 0.2; } }
@-webkit-keyframes scrollToTopAnim {
  0% {
    top: 55px;
    opacity: 0.2; }
  90% {
    top: 50px;
    opacity: 0.6; }
  100% {
    top: 55px;
    opacity: 0.2; } }
@keyframes continuousbounce {
  0% {
    bottom: 15px;
    opacity: 0.2; }
  90% {
    bottom: 10px;
    opacity: 0.6; }
  100% {
    bottom: 15px;
    opacity: 0.2; } }
@-webkit-keyframes continuousbounce {
  0% {
    bottom: 15px;
    opacity: 0.2; }
  90% {
    bottom: 10px;
    opacity: 0.6; }
  100% {
    bottom: 15px;
    opacity: 0.2; } }
.hp-f-conclude,
.hp-f-videos {
  background: #fff; }

.hp-f-videos,
.hp-f-works {
  text-align: center; }

.hp-f-welike h2, .hp-f-welike .row {
  margin-bottom: 5%; }

.hp-f-conclude footer {
  height: 100%; }

.hp-f-videos .large-6 {
  margin-bottom: 5px; }
@media (max-height: 400px) {
  .hp-f-videos .disp-tcell-vm {
    vertical-align: top; }
  .hp-f-videos #video-gallery {
    padding: 0; }
    .hp-f-videos #video-gallery > .row {
      width: 50%;
      margin: 0;
      float: left; }
    .hp-f-videos #video-gallery .columns {
      padding: 0; } }

.left-text-bg,
.right-text-bg {
  position: absolute;
  top: 0;
  width: 60%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }
  @media (max-width: 640px) {
    .left-text-bg,
    .right-text-bg {
      width: 100%;
      border-radius: 0 !important; } }

.left-text-bg {
  left: 0;
  border-top-right-radius: 1000px;
  border-bottom-right-radius: 1000px; }

.right-text-bg {
  right: 0;
  border-top-left-radius: 1000px;
  border-bottom-left-radius: 1000px; }

/* Styles for Careers page -------------------------------------------------- */
#cc-cont,
.hidden-page {
  background-color: #eee;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; }

#cc-cont .vid-desc {
  margin-bottom: 1% !important; }

#cc-cont,
#mbb-cont {
  height: 100vh;
  overflow: scroll; }
  #cc-cont .vg-thumb,
  #mbb-cont .vg-thumb {
    display: none;
    height: 50px;
    background-image: none;
    color: #1f1f1f;
    padding: 0;
    font-size: 3rem;
    line-height: 3.5rem; }
    #cc-cont .vg-thumb i,
    #mbb-cont .vg-thumb i {
      text-shadow: none;
      -webkit-transition: transform 0;
      -moz-transition: transform 0;
      -o-transition: transform 0;
      transition: transform 0; }
    #cc-cont .vg-thumb:hover i,
    #mbb-cont .vg-thumb:hover i {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }

#video-gallery .vg-thumb {
  position: relative; }
  #video-gallery .vg-thumb:after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.2rem;
    padding: 2px 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }
  #video-gallery .vg-thumb:hover:after {
    -webkit-transform: translateY(90%);
    -moz-transform: translateY(90%);
    -ms-transform: translateY(90%);
    -o-transform: translateY(90%);
    transform: translateY(90%); }
#video-gallery .v-customer-care:after {
  content: "Customer Care"; }
#video-gallery .v-driver:after {
  content: "Transportation"; }
#video-gallery .v-propulsion-labs:after {
  content: "Propulsion Labs"; }
#video-gallery .v-warehouse:after {
  content: "Warehouse"; }

#benefits-pg {
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  color: #fff;
  background-image: url("../img/bg-benefits-m.jpg");
  height: 100vh;
  overflow: scroll;
  background-size: cover;
  background-position: center center; }
  @media (min-width: 768px) {
    #benefits-pg {
      background-image: url("../img/bg-benefits.jpg"); } }
  #benefits-pg h3 {
    color: #fff; }
  #benefits-pg h4 {
    font-weight: bold; }
  #benefits-pg p {
    margin-bottom: 20px; }
  #benefits-pg ul {
    margin-left: 0; }
  @media (max-width: 767px) {
    #benefits-pg {
      padding-top: 50px; }
      #benefits-pg .large-4,
      #benefits-pg .large-3 {
        position: relative;
        padding-left: 100px;
        margin-bottom: 20px; }
      #benefits-pg object {
        position: absolute;
        height: 75px;
        position: absolute;
        left: 10px; } }
  #benefits-pg h4 {
    color: #fff; }
  #benefits-pg ul {
    list-style-type: none; }

#career-curtain {
  margin: 0; }
  #career-curtain .bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
  #career-curtain > li {
    padding: 0;
    position: relative;
    cursor: pointer; }
    #career-curtain > li .pos-rel {
      background: rgba(255, 255, 255, 0.2); }
  #career-curtain p {
    display: none; }
  #career-curtain .c-shopper,
  #career-curtain .c-driver,
  #career-curtain .c-customer,
  #career-curtain .c-propulsio,
  #career-curtain .c-corporate {
    min-height: 300px;
    text-align: center;
    overflow: hidden;
    -webkit-transition: width 0.8s cubic-bezier(0, 1.2, 1, 1.2);
    -moz-transition: width 0.8s cubic-bezier(0, 1.2, 1, 1.2);
    -o-transition: width 0.8s cubic-bezier(0, 1.2, 1, 1.2);
    transition: width 0.8s cubic-bezier(0, 1.2, 1, 1.2); }
  #career-curtain .pos-rel {
    width: 100%;
    height: 100%; }
  #career-curtain .job-det {
    display: none; }
  #career-curtain .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #career-curtain h3 {
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    bottom: 7%;
    left: 0;
    color: #fff;
    text-shadow: 1px 1px 1px #1f1f1f; }
  #career-curtain embed {
    position: absolute;
    width: 40%;
    left: 30%;
    bottom: 20%; }
    @media (min-width: 1600px) {
      #career-curtain embed {
        width: 40%;
        left: 30%; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      #career-curtain embed {
        bottom: 20%;
        min-height: 120px; } }
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      #career-curtain embed {
        bottom: 15%;
        min-height: 120px; } }
  #career-curtain > .active {
    cursor: default; }
    #career-curtain > .active .soa {
      display: none; }
    #career-curtain > .active h3 {
      display: none;
      position: static;
      font-size: 3rem;
      color: #1f1f1f;
      text-shadow: none;
      margin-top: 15%; }
      @media (max-height: 600px) {
        #career-curtain > .active h3 {
          margin-top: 5%; } }
    #career-curtain > .active .caption {
      color: #1f1f1f; }
    #career-curtain > .active embed {
      display: none; }
    #career-curtain > .active p {
      max-width: 500px;
      margin: 0 auto 3% auto; }
    #career-curtain > .active .job-det {
      display: none; }
  #career-curtain .caption {
    z-index: 9; }
  #career-curtain .tab-this h3 {
    display: none; }

#mbb-cont {
  display: none; }

@media (max-width: 767px) {
  #career-curtain > li {
    min-height: 50vh !important;
    width: 50% !important;
    clear: none; }
  #career-curtain .bg-img {
    background-position: top center; }
  #career-curtain embed {
    bottom: auto;
    top: 30%;
    min-height: 200px; } }
  @media (max-width: 767px) and (max-height: 400px) {
    #career-curtain embed {
      display: none; } }
@media (max-width: 767px) {
  #career-curtain h3 {
    font-size: 1.3rem; }

  #mbb-cont {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #eee;
    height: 100%;
    z-index: 102;
    padding: 5px;
    text-align: center; }
    #mbb-cont embed {
      display: none; }
    #mbb-cont article {
      display: table;
      height: 100%; }
    #mbb-cont .mc-details {
      display: table-cell;
      height: 100%;
      vertical-align: middle; }
    #mbb-cont .soa {
      display: none; } }
.c-shopper .bg-img {
  backround-color: #eee;
  background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/woman-latino-th-m.jpg"); }
  @media (min-width: 768px) {
    .c-shopper .bg-img {
      background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/woman-latino-th.jpg"); } }
.c-shopper.active .bg-img {
  background: url("../img/woman-latino-bg.jpg"); }

.c-driver .bg-img {
  backround-color: #eee;
  background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/man-th-m.jpg"); }
  @media (min-width: 768px) {
    .c-driver .bg-img {
      background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/man-th.jpg"); } }
.c-driver.active .bg-img {
  background: url("../img/man-bg.jpg"); }

.c-customer .bg-img {
  backround-color: #eee;
  background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/woman-latino-2-th-m.jpg"); }
  @media (min-width: 768px) {
    .c-customer .bg-img {
      background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/woman-latino-2-th.jpg"); } }
.c-customer.active .bg-img {
  background: url("../img/woman-latino-2-bg.jpg"); }

.c-propulsio .bg-img {
  backround-color: #eee;
  background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/man-asian-th-m.jpg"); }
  @media (min-width: 768px) {
    .c-propulsio .bg-img {
      background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/man-asian-th.jpg"); } }
.c-propulsio.active .bg-img {
  background: url("../img/man-asian-bg.jpg"); }

.c-corporate .bg-img {
  backround-color: #eee;
  background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/corporate-th-m.jpg"); }
  @media (min-width: 768px) {
    .c-corporate .bg-img {
      background-image: linear-gradient(-179deg, transparent 0%, transparent 45%, rgba(0, 0, 0, 0.25) 63%, #000000 100%), url("../img/corporate-th.jpg"); } }
.c-corporate.active .bg-img {
  background: url("../img/corporate-bg.jpg"); }

.vg-thumb {
  display: block;
  height: 100px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  font-size: 2rem;
  padding-top: 2rem;
  color: #fff;
  margin-bottom: 10px; }
  .vg-thumb:hover {
    color: #fff; }
  .vg-thumb i {
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    text-shadow: 0 0 50px #000; }
  .vg-thumb:hover i {
    -webkit-transform: scale(1.3, 1.3);
    -moz-transform: scale(1.3, 1.3);
    -ms-transform: scale(1.3, 1.3);
    -o-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }
  @media (max-width: 767px) {
    .vg-thumb {
      margin-bottom: 5px; } }

.manifesto-video {
  margin: auto;
  display: block;
  text-align: center;
  width: 200px;
  height: 150px;
  font-size: 5rem;
  color: #1f1f1f;
  padding: 2rem;
  margin-bottom: 20px; }
  .manifesto-video:hover {
    color: #1f1f1f; }
  .manifesto-video i {
    text-shadow: none; }

.v-customer-care {
  background-image: url("../img/vt-customer-care.jpg"); }

.v-driver {
  background-image: url("../img/vt-driver.jpg"); }

.v-propulsion-labs {
  background-image: url("../img/vt-propulsion-labs.jpg"); }

.v-warehouse {
  background-image: url("../img/vt-warehouse.jpg"); }

.video-nav {
  display: none;
  position: fixed;
  z-index: 102;
  top: 47%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  line-height: 2.5rem; }

#next-video {
  right: 10px; }

#prev-video {
  left: 10px; }

.video-gal {
  position: fixed;
  z-index: 103;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  color: #fff; }
  .video-gal video {
    width: 100%;
    max-height: 100%; }
  .video-gal div {
    display: table;
    height: 100%;
    width: 100%; }
  .video-gal article {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

.go-back-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 101;
  font-size: 45px;
  color: #1f1f1f;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-name: bounceLeftHorizontal;
  -webkit-animation-name: bounceLeftHorizontal; }
  .go-back-icon:hover {
    color: #62A54C;
    opacity: 1; }

@keyframes bounceLeftHorizontal {
  0% {
    left: 10px;
    opacity: 0.4; }
  90% {
    left: 5px;
    opacity: 0.8; }
  100% {
    left: 10px;
    opacity: 0.4; } }
@-webkit-keyframes bounceLeftHorizontal {
  0% {
    left: 10px;
    opacity: 0.4; }
  90% {
    left: 5px;
    opacity: 0.8; }
  100% {
    left: 10px;
    opacity: 0.4; } }
/* About Us page styles ----------------------------------------------------- */
.about-us {
  padding-top: 320px; }
  .about-us p {
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin-bottom: 1rem; }
  @media (min-width: 1280px) {
    .about-us {
      padding-top: 520px; } }
  @media (min-width: 1600px) {
    .about-us {
      padding-top: 720px; } }
  .about-us footer {
    padding-bottom: 300px; }
    @media (max-width: 767px) {
      .about-us footer {
        padding-bottom: 150px; } }
  .about-us h2, .about-us h3 {
    text-align: center; }
  .about-us object {
    max-width: 100%; }

.cta {
  background: #4CA580;
  color: #fff;
  text-align: center;
  padding: 4%; }
  .cta .btn-inverted:hover {
    color: #4CA580; }
  .cta .l-text {
    display: inline-block;
    line-height: 3rem;
    font-size: 1.3rem;
    border: solid 2px transparent;
    margin-right: 2%; }
    @media (max-width: 767px) {
      .cta .l-text {
        line-height: 2rem; } }

.about-us-hdg {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  background: #eee;
  padding: 100px 0;
  text-align: center;
  z-index: 5;
  -webkit-transition: padding 0.5s;
  -moz-transition: padding 0.5s;
  -o-transition: padding 0.5s;
  transition: padding 0.5s;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/bg-img-inner-container-s.jpg"); }
  @media (min-width: 1280px) {
    .about-us-hdg {
      padding: 200px 0; } }
  @media (min-width: 1600px) {
    .about-us-hdg {
      padding: 300px 0; } }
  @media (min-width: 768px) {
    .about-us-hdg {
      background-image: url("../img/bg-img-inner-container.jpg"); } }
  .about-us-hdg h1 {
    color: #fff;
    text-shadow: 1px 1px 1px #000; }

.about-us-hdg-compact {
  padding: 10px 0 !important; }

.intro-text {
  margin: 50px 0; }

.peapod-way object {
  margin: 0 2% 0 0;
  max-width: 100%; }
  .peapod-way object:nth-child(2n) {
    margin: 0 0 0 2%; }
.peapod-way p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 2rem; }
  @media (min-width: 768px) {
    .peapod-way p {
      font-size: 2rem;
      line-height: 2.7rem; } }
.peapod-way .row {
  margin-bottom: 4%; }

/* OnePageScroll Customisations --------------------------------------------- */
body .onepage-pagination {
  z-index: 10; }
  @media (max-width: 767px) {
    body .onepage-pagination {
      right: 5px;
      top: auto;
      bottom: 5%; } }
  body .onepage-pagination li a.active:before {
    box-shadow: 0px 0px 1px #fff;
    border: 1px solid rgba(0, 0, 0, 0.5); }
  body .onepage-pagination li a:before {
    box-shadow: 0px 0px 1px #fff;
    background: rgba(0, 0, 0, 0.5); }

/*# sourceMappingURL=appearance.css.map */
